image: python:3.8-alpine

stages:
  - test
  - pre_commit
  - build
  - deploy

variables:
  DOCKER_IMAGE_TAG: "latest"
  DOCKER_REGISTRY_URL: "registry.gitlab.com"
  DOCKER_IMAGE_NAME: "shodaisd/oxygencs-app-grp2-eq8"

before_script:
  - apk add --no-cache git
  - apk update
  - apk add --no-cache build-base libffi-dev postgresql-dev
  - pip install pipenv
  - apk add --no-cache docker

pre_commit:
  stage: pre_commit
  variables:
    HOST: http://159.203.50.162
    TOKEN: d6e33ac9ad141a18af77
    T_MAX: 20
    T_MIN: 10
    DATABASE_URL: postgresql://user02eq8:5ZBBwc9GvESZLKhg@157.230.69.113:5432/db02eq8
  script:
    - pipenv install --dev
    - pipenv install --dev pre-commit
    - pipenv run pre-commit run --all-files

unit_tests:
  stage: test
  variables:
    HOST: http://159.203.50.162
    TOKEN: d6e33ac9ad141a18af77
    T_MAX: 20
    T_MIN: 10
    DATABASE_URL: postgresql://user02eq8:5ZBBwc9GvESZLKhg@157.230.69.113:5432/db02eq8
  script:
    - pipenv install --dev
    - pipenv run pytest

build_image:
  stage: build
  image: docker:stable
  services:
    - docker:dind
  variables:
    DOCKER_HOST: "tcp://docker:2375"
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - docker build --pull -t "$DOCKER_REGISTRY_URL/$DOCKER_IMAGE_NAME:$DOCKER_IMAGE_TAG" .
    - docker push "$DOCKER_REGISTRY_URL/$DOCKER_IMAGE_NAME:$DOCKER_IMAGE_TAG"

deploy_to_dockerhub:
  stage: deploy
  only:
    - main
  script:
    - echo "Deploying to Docker Hub..."
